[submodule "crawl-engineering/openwpm-crawler"]
	path = crawl-engineering/openwpm-crawler
	url = https://github.com/mozilla/openwpm-crawler
	branch = crlf-line-endings
[submodule "crawl-engineering/OpenWPM"]
	path = crawl-engineering/OpenWPM
	url = https://github.com/mozilla/OpenWPM.git
	branch = webcompat-instrumentation
[submodule "crawl-prep"]
	path = crawl-prep
	url = https://github.com/mozilla/crawl-prep.git
	branch = master
