[submodule "crawl-engineering/openwpm-crawler"]
	path = crawl-engineering/openwpm-crawler
	url = https://github.com/mozilla/openwpm-crawler
	branch = master
[submodule "crawl-engineering/OpenWPM"]
	path = crawl-engineering/OpenWPM
	url = https://github.com/mozilla/OpenWPM.git
	branch = webcompat-instrumentation
